@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove number input spinners (Chrome, Edge, Safari, Firefox) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
